@import url('https://fonts.googleapis.com/css2?family=Erica+One&family=Kanit:ital,wght@0,100;0,200;0,300;0,400;0,500;0,600;0,700;0,800;0,900;1,100;1,200;1,300;1,400;1,500;1,600;1,700;1,800;1,900&family=Modak&family=Plaster&family=Ubuntu:ital,wght@0,300;0,400;0,500;0,700;1,300;1,400;1,500;1,700&display=swap');

body {
    margin: 0;
    padding: 0;
    background-color: grey;
}

.top {
    text-align: center;
    background-color: blueviolet;
}

h1 {
    font-family: plaster;
    font-size: 4rem;
    margin-bottom: .1rem;
}

h2 {
    font-family: 'Kanit', sans-serif;
    font-size: 2rem;
    margin-top: .1rem;
    margin-bottom: 1.5rem;
}

p {
    text-align: center;
    font-size: 1rem;
    font-family: kanit;
    max-width: 70%;
    margin: auto;
}

h3 {
    font-family: kanit;
    font-size: 2rem;
    margin-bottom: 0;
}

h4 {
    margin-top: .2rem;
    font-family: kanit;
    font-weight: 300;
}

.gallery {
    display: flex;
    flex-wrap: nowrap;
    overflow-x: auto;
    scroll-snap-type: x mandatory;
    border: .3rem solid black;
  }
  
  .gallery img {
    scroll-snap-align: center;
    width: 100%;
    height: auto;
  }

  .gal {
    text-align: center;
    width: 20rem;
    margin: auto;
  }

  .footer {
    background-color: blueviolet;
    margin-top: 3rem;
    text-align: center;
    padding: 1rem;
    font-family: kanit;
}

a:link {
    color: black;
}

a:visited {
    color: black;
}