@import url('https://fonts.googleapis.com/css2?family=Work+Sans:ital,wght@0,100..900;1,100..900&display=swap');

* {
  margin: 0;
  padding: 0;
  box-sizing: border-box;
}

body {
  font-family: 'Work Sans', sans-serif;
  background-color: #eca4fb;
  padding: .5rem;
}

.contain {
  display: flex;
  background-color: whitesmoke;
  max-width: 90%;
  padding: 10px;
  margin:0 auto;
  border-radius: 10px;
  flex-wrap: wrap;
}

img {
  border-radius: 20px;
  max-width: 100%;
  height: auto;
  flex-basis: 1;
}

p {
  width: 200px;
  flex-grow: 1;
  flex-shrink: 1;
  padding-left: 10px;
  margin: 0 auto;
}