@import url('https://fonts.googleapis.com/css2?family=Erica+One&family=Modak&family=Ubuntu:ital,wght@0,300;0,400;0,500;0,700;1,300;1,400;1,500;1,700&display=swap');

:root {
    --dark: #3b4041;
    --warm: #cdd746;
    --cold: #23b29b;
  }

body {
    background-color: var(--dark);
    text-align: center;
}

h1 {
    color: var(--warm);
    font-size: 5rem;
    font-family: 'erica one';
    margin-bottom: 0;
}

h2 {
    color: var(--warm);
    font-size: 3rem;
    margin-top: 0;
    font-family: 'Ubuntu';
    font-weight: 900;
}

h3 {
    color: var(--warm);
    font-family: 'Ubuntu';
    font-weight: 500;
    font-size: 2rem;
}

a:link {
    color: var(--cold);
    font-family: 'Ubuntu';
    margin-bottom: .5rem;
    transition: .5s;
}

a:visited {
    color: var(--cold);
}

a:hover {
    font-weight: 800;
    transition: .5s;
}

.links {
    display: flex;
    flex-direction: column;
}