@import url('https://fonts.googleapis.com/css2?family=Poppins:wght@400;600&display=swap');

* {
    box-sizing: border-box;
}

:root {
	--color-bg: #222;
  --color-text: #fcfcfc;
}

html {
  scroll-behavior: smooth;
}

a {
  color: lightgray;
  text-decoration: none;
}

body {
    font-family: 'Poppins', sans-serif;
    max-width: 40rem;
    margin: 0 auto;
    padding: .75rem;
    color: var(--color-text);
    background-color: var(--color-bg);
}

nav {
  position: fixed;
  padding: 8px;
  top: 0px;
  background-color: var(--color-bg);
  width: 100%;
  text-align: center;
  
}

nav a {
  padding-right: 30px;
}

h3 {
    color: tomato;
}

p {
    line-height: 1.75;
}

img {
    width: 100%;
    display: block;
    margin: 4rem 0;
}

.back-to-top {
  background-color: grey;
  text-align: center;
  position: fixed;
  font-size: 25px;
  bottom: 30px;
  right: 30px;
  width: 40px;
  border-radius: 10px;
}